@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sora: 'Sora', ui-sans-serif, system-ui, sans-serif;
    --font-code: 'Fira Code', monospace;
    --font-grotesk: 'Space Grotesk', sans-serif;
  }
  
  body {
    font-family: var(--font-sora);
  }
}